@media (max-width: 575px) {
  .card-duo {
    .card-header {
      display: block;
      .card-title {
        display: block;
      }
      .card-buttons {
        margin-top: 15px;
        display: block;
      }
    }
  }
}
