@import "mixins";

// OVERRIDE BOOTSTRAP
.btn {
  @include border-radius(1px);
  font-size: .9rem;
  &.btn-danger {
    @include gradient(#dd5e66, #c64a57);
  }
  &.btn-link {
    color: #6387b8;
  }
  &.btn-info {
    @include gradient(#5ea8e4, #4191c0);
    border-color: #4d91ad;
    &:hover {
      border-color: #3c7288;
    }
  }
  &.btn-secondary {
    color: #737375;
    background-color: #ffffff;
    border-color: #e8e8e8;
  }
}

.card-duo {
  margin: 45px auto;
  border: 1px solid #dee4e7;
  @include border-radius(0);
  .card-header {
    @include border-radius(0);
    border: 1px solid #dee4e7;
    border-bottom-width: 2px;
    background-color: #ebf1f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 20px 30px;
    .card-buttons {
      margin-left: auto;
      .btn {
        font-weight: bold;
      }
    }
    .card-title {
      margin: 0;
      h1 {
        margin: 0;
        font-size: 1.4rem;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
      }
    }
  }
  .card-footer {
    @include border-radius(0);
    padding: 30px 25px 60px;
    background-color: #ffffff;
    .btn {
      margin-right: 10px;
    }
  }
}

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .65rem;
  // accessibility
  cursor: pointer;
}

.form-control {
  font-size: .75rem;
  background-color: #f9f9f9;
  @include border-radius(2px);
  &:focus {
    border-color: #ebf1f7;
    box-shadow: 0 0 0 0.1rem rgb(213, 225, 236)
  }
  &:not(textarea) {
    max-height: 32px;
  }
}

.input-group-text {
  padding-left: .4rem;
  padding-right: .4rem;
  background-color: #f9f9f9;
  color: #cecece;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
  border-right: 0;
}

// custom styles

body {
  color: #636673;
  font-family: Arial, Tahoma, Verdana, Segoe, sans-serif;
}

.btn-action-form {
  font-size: 0.75rem;
  padding: 0;
  margin-right: 15px;
  svg {
    background-color: #5ea8e4;
    padding: 1px 3px;
    box-sizing: initial;
    color: #fff;
    border-radius: 3px;
    vertical-align: sub;
  }
}

.btn-action-input {
  @include border-radius(100%);
  font-size: 0.75rem;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  vertical-align: text-top;
  color: #62b0f5;
  border: 1px solid #e2e8ef;
  &:hover {
    color: #6073f5;
  }
}

.required-indication {
  color: #f98f1f;
  font-weight: bold;
  font-size: 1rem;
  line-height: .3rem;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-image: url('../imgs/arrow-down.png');
  background-size: 20px;
  background-position: right 10px center;
}

.input-actions-buttons {
  display: -webkit-box;
  .btn {
    margin-right: 15px;
  }
  .form-check {
    padding-top: 4px;
  }
}

@import "media";