.btn {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  font-size: .9rem; }
  .btn.btn-danger {
    background: #dd5e66;
    /* Old browsers */
    background: -moz-linear-gradient(top, #dd5e66 0%, #c64a57 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd5e66), color-stop(100%, #c64a57));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dd5e66 0%, #c64a57 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dd5e66 0%, #c64a57 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dd5e66 0%, #c64a57 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #dd5e66 0%, #c64a57 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */ }
  .btn.btn-link {
    color: #6387b8; }
  .btn.btn-info {
    background: #5ea8e4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #5ea8e4 0%, #4191c0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ea8e4), color-stop(100%, #4191c0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5ea8e4 0%, #4191c0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5ea8e4 0%, #4191c0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5ea8e4 0%, #4191c0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #5ea8e4 0%, #4191c0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    border-color: #4d91ad; }
    .btn.btn-info:hover {
      border-color: #3c7288; }
  .btn.btn-secondary {
    color: #737375;
    background-color: #ffffff;
    border-color: #e8e8e8; }

.card-duo {
  margin: 45px auto;
  border: 1px solid #dee4e7;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }
  .card-duo .card-header {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #dee4e7;
    border-bottom-width: 2px;
    background-color: #ebf1f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 20px 30px; }
    .card-duo .card-header .card-buttons {
      margin-left: auto; }
      .card-duo .card-header .card-buttons .btn {
        font-weight: bold; }
    .card-duo .card-header .card-title {
      margin: 0; }
      .card-duo .card-header .card-title h1 {
        margin: 0;
        font-size: 1.4rem;
        font-family: Tahoma, Verdana, Segoe, sans-serif; }
  .card-duo .card-footer {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 30px 25px 60px;
    background-color: #ffffff; }
    .card-duo .card-footer .btn {
      margin-right: 10px; }

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .65rem;
  cursor: pointer; }

.form-control {
  font-size: .75rem;
  background-color: #f9f9f9;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }
  .form-control:focus {
    border-color: #ebf1f7;
    box-shadow: 0 0 0 0.1rem #d5e1ec; }
  .form-control:not(textarea) {
    max-height: 32px; }

.input-group-text {
  padding-left: .4rem;
  padding-right: .4rem;
  background-color: #f9f9f9;
  color: #cecece; }

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
  border-right: 0; }

body {
  color: #636673;
  font-family: Arial, Tahoma, Verdana, Segoe, sans-serif; }

.btn-action-form {
  font-size: 0.75rem;
  padding: 0;
  margin-right: 15px; }
  .btn-action-form svg {
    background-color: #5ea8e4;
    padding: 1px 3px;
    box-sizing: initial;
    color: #fff;
    border-radius: 3px;
    vertical-align: sub; }

.btn-action-input {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  font-size: 0.75rem;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  vertical-align: text-top;
  color: #62b0f5;
  border: 1px solid #e2e8ef; }
  .btn-action-input:hover {
    color: #6073f5; }

.required-indication {
  color: #f98f1f;
  font-weight: bold;
  font-size: 1rem;
  line-height: .3rem;
  vertical-align: middle; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-image: url("../imgs/arrow-down.png");
  background-size: 20px;
  background-position: right 10px center; }

.input-actions-buttons {
  display: -webkit-box; }
  .input-actions-buttons .btn {
    margin-right: 15px; }
  .input-actions-buttons .form-check {
    padding-top: 4px; }

@media (max-width: 575px) {
  .card-duo .card-header {
    display: block; }
    .card-duo .card-header .card-title {
      display: block; }
    .card-duo .card-header .card-buttons {
      margin-top: 15px;
      display: block; } }

/*# sourceMappingURL=styles.css.map */
